.App {
  text-align: center;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

#mainHeader{
  background-color: rgba(51, 51, 51, 0.74);
  padding: 10px;
  color: white;

}
#buttonNewMovie{
  margin:10px;
}

#tableHeader{
  background-color: rgb(33, 108, 248);
  color: aliceblue;
  border: rgb(60, 160, 248) 3px solid;
}